<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638503103605-hpe6u623e53ar8inuuna9v1j3o5cmcrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638503103605-hpe6u623e53ar8inuuna9v1j3o5cmcrj</string>
	<key>API_KEY</key>
	<string>AIzaSyCz1ujMRsmIOnsNRsyYwJYzvy3byv7tp9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>638503103605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expensesTracker</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-b15e6</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-b15e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638503103605:ios:acd6e2ce06e499c1745c3c</string>
</dict>
</plist>